{% extends 'base.html' %}
{% block title %}Index Title{% endblock %}


{% block header %}
	{% if user.is_authenticated %}
		IRC Assessments
	{% else %}
		Login
	{% endif %}	
{% endblock %}


{% block sidebarLinks %}
	{% if user.is_authenticated %}
		<li><a href="#">Home</a></li>
		<li><a href="#">New Assessment</a></li>
		<li><a href="#">Approved Assessments</a></li>
		<li><a href="#">Open Assessments</a></li>
	{% endif %}
{% endblock %}
{% block content %}
	{%if user.is_authenticated %}
		
		<h2>Index Content</h3>
		{% for i in assessmentList %}
			<p>{{ i.site }}
		{% endfor %}
	{% else %}
		<a href="{% url 'login'%}"> Login </a><br>
	{% endif %}
{% endblock %}